{% extends "search/base2.html" %}
{% block content %}
{% block body %}
	<h3 class="page-header">一覧</h3>
	<form method="post" action="{% url 'search:delete' %}">{# actionを変更する #}
	<!--<table class="table table-striped table-bordered">-->
	<table border="1">
	<thead>
		<tr>
			<th>	</th>
			<th>タイトル</th>
			<th>作成者</th>
			<th>文書種別</th>
			<th>ファイル形式</th>
			<th>学籍番号</th>
			<th>　</th>
			<th>　</th>

			
		</tr>
	</thead>
	<tbody>
	{% for book in books %}
	<tr>
		<td><input type="checkbox" name="delete_ids" value="{{ book.id }}"></td>
		<td>{{book.name}}</td>
		<td>{{book.author}}</td>
		<td>{{book.type}}</td>
		<td>{{book.format}}</td>
		<td>{{book.sid}}</td>
		<td><a href="{% url 'search:edit' book.id %}">更新画面へ</a></td>
		<td><a href="{% url 'search:download' book.id %}">ダウンロード画面へ</a></td>	
	</tr>
	{% endfor %}
	{% csrf_token %}
	<input type="submit" value="削除">
	</form>
	</tbody>
	</table>
{% endblock body %}
{% endblock content %}
