{% extends "base.html" %}
{% block content %}
{% block body %}
<center>
	<h3 class="page-header">一覧</h3>
	<p><a href="/search">検索TOPへ</a></p>

	<!--<table class="table table-striped table-bordered">-->
	<table border="1">
	<thead>
		<tr>
			<th>タイトル</th>
			<th>作成者</th>
			<th>文書種別</th>
			<th>ファイル形式</th>
			<!--<th>学籍番号</th>-->
			<th>　</th>
			<th>　</th>
			<th>　</th>
			
		</tr>
	</thead>
	<tbody>
	{% for book in books %}
	<tr>
		<td>{{book.name}}</td>
		<td>{{book.author}}</td>
		<td>{{book.type}}</td>
		<td>{{book.format}}</td>
		<!--<td>{{book.sid}}</td>-->
		<td><a href="{% url 'search:edit' book.id %}">更新画面へ</a></td>
		<td><a href="{% url 'search:download' book.id %}">ダウンロード</a></td>
		<td><a href="{% url 'search:delete' book.id %}">削除</a></td>
	</tr>
	{% endfor %}
	{% csrf_token %}
	</tbody>
	</table>
	</center>
{% endblock body %}
{% endblock content %}
