{% extends "search/base.html" %}                           
{% block content %}                                        
{% block body %}                                           
        <h3 class="page-header">検索</h3>                  
        <form action="" method="POST">              
        <!--<form action="{ url 'show:show' book_id=book_id %}" method="get" class="form-horizonal" role="form">-->                                                                     
                {% csrf_token %}                                                            
                <table>                                                                     
                        {{ form.as_table }}                                                 
                        <hr>
                </table>
                <!--
                <label>文書タイトル:<input type="text" size="20" name="file_name"></label><br>
                <label>ファイル形式:<select name = "file_format">
                <option value="pdf">pdf
                <option value="pptx">pptx</label></select><br>
                <label>年度:<input type="text" size="10" name="year"></label><br>
                <label>作成者あ:<input type="text" size="10" name="author_name"></label><br>
                <label>文書種別:<select name ="example1">
                <option value="os輪講">os輪講
                <option value="仮想化輪講">仮想化輪講
                <option value="その他">その他</select>
                </label><br>-->
                <label><input type="submit" value="検索"></label><br>
        </form>

<!--    {% if file_name %}
                {{ file_name }}がありました
        {% endif %}
        {% if author_name %}
                {{ author_name }}がありました
        {% endif %}-->

{% endblock %}
{% endblock content %}

